.container-hero {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 80vh;
  /* background-color: #ff82c3; */
}

.hero-left {
  align-self: center;
  padding-top: 10%;
}
.hero-left .hero-heading {
  font-size: 2.3rem;
  font-weight: lighter;
  letter-spacing: -2.8px;
  color: var(--clr-bg);
  text-align: center;
  line-height: 1.25;
}

.hero-left .colorName {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    var(--clr-secondary),
    #745bd9,
    #ff82c3,
    var(--clr-primary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200%;
  background-position: -100%;
  animation: animatedText 4s infinite alternate-reverse;
}

@keyframes animatedText {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.container-hero .scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  margin-top: 5%;
}
.container-hero .mouse-body {
  height: 45px;
  width: 30px;
  /* position: fixed; */
  border: 2px solid var(--clr-bg);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px; */
  overflow: hidden;
}

.container-hero .scroll .mouse-scroll {
  width: 3.5px;
  height: 6px;
  border-radius: 10px;
  background-color: var(--clr-bg);
  margin-top: 10px;
  animation-name: mouseScroll;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes mouseScroll {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(30px);
  }
}
@media only screen and (min-width: 1200px) {

}
@media only screen and (max-width: 992px) {
  .hero-left {
    margin-top: 7%;
  }
  .hero-left .colorName {
    font-size: 3.5rem;
  }
  .hero-left .hero-heading {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero-left {
    margin-top: 13%;
  }
  .hero-left .colorName {
    font-size: 3.1rem;
  }
  .hero-left .hero-heading {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero-left {
    margin-top: 20%;
  }
  .hero-left .colorName {
    font-size: 2.6rem;
  }
  .hero-left .hero-heading {
    font-size: 1.8rem;
  }
}
