.about-container {
  height: 90vh;
  padding: 0 5%;
  /* border: 1px solid red; */
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  color: var(--clr-bg);
  align-items: center;
}

.about-left,
.about-right {
  width: 50%;
}
.about-right {
  padding-bottom: 50px;
}
.about-right .general-heading {
  margin-bottom: -10px;
}

.about-right .about-header {
  font-size: var(--ft-heading);
  font-weight: 500;
}
.about-right .about-detail {
  font-size:var(--ft-detail);
  font-weight: 100;
  margin-top: -15px;
}
.about-right .resume-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.about-right .resume-div .btn-primary {
  margin-right: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.resume-div .btn-primary .down {
  margin-right: 10px;
  font-size: 20px;
}
.about-right .resume-div .git {
  font-size: var(--ft-small);
  text-decoration: underline;
  cursor: pointer;
  color: var(--clr-bg);
}
.about-left .profilePic {
  width: 250px;
  height: auto;
}
.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .about-right .general-heading {
    margin-bottom: -12px;
  }

  .about-right .about-header {
    font-size: var(--ft-heading2);
    font-weight: 500;
  }
  
  .about-left .profilePic {
    width: 230px;
    height: auto;
  }
}
@media only screen and (max-width: 992px) {
  .about-right .general-heading {
    margin-bottom: -15px;
  }

  .about-right .about-header {
    font-size: var(--ft-heading3);
    font-weight: 500;
  }
  .about-right .about-detail {
    font-size: var(--ft-detail2);
    
  }
  .about-left .profilePic {
    width: 210px;
    height: auto;
  }
  .about-right .resume-div {
    padding-top: 25px;
  }
 
}
@media only screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .about-left,
  .about-right {
    width: 100%;
  }
  .about-left {
    margin-top: 60px;
  }
  .about-right {
    margin-top: 30px;
    align-items: center;
  }
  .about-left .profilePic {
    width: 30%;
    height: auto;
  }
  .about-right .general-heading {
    margin-bottom: -15px;
    font-size: var(--ft-small2);  }

  .about-right .about-header {
    font-size: var(--ft-heading4);
  }
  .about-right .about-detail {
    font-size:var(--ft-detail3);
    margin-top: 0px;
  }
  .about-right .resume-div {
    padding-top: 25px;
    justify-content: center;
  }
  .about-right .resume-div .btn-primary,
  .about-right .resume-div .git {
    font-size: var(--ft-small2);  }
}
@media only screen and (max-width: 600px) {
  .about-left {
    margin-top: 40px;
  }
}
