/* .bg{
  overflow:hidden;
  width: 100%;
  background-image: url("../../Images/Group13.svg");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 180% -30%; 

} */

.contact-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
margin: 0 5%;
}

.contact-header {
  /* color: var(--clr-bg);
    font-size:3.5rem ;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.25; */

  font-size: 3.25rem;
  font-weight: 500;
  color: var(--clr-bg);
  /* background-image: linear-gradient(to right,var(--clr-secondary),#745bd9 , #ff82c3 ,var(--clr-primary));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
background-size: 200%;
background-position: -100%;
animation: animatedText 4s infinite alternate-reverse; */
}
.contacts {
  display: flex;
  justify-content: left;
}
.contact {
  color: var(--clr-bg);
  font-size: 1.063rem;
  width: max-content;
  border-radius: 50px;
  padding: 15px 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  background-color: rgb(34, 34, 34);
}
.contact img {
  margin-right: 15px;
}

.contact:last-child {
  transition: 0.3s ease-out;
  text-decoration: none;
}
.contact:last-child:hover {
  background-color: rgb(247, 251, 255, 0.1);
}
/* .contact-text{
    color: var(--clr-bg);
    font-size: 1.3rem;
    margin-left: 20px;
    font-weight: 300;

} */
.contact-container .time {
  color: var(--clr-bg);
  font-size: 1.063rem;
  opacity: 0.8;
  font-weight: 300;
}
.contact-container .local-time {
  color: var(--clr-gray);
  font-weight: 500;
  font-size: 1.063rem;
}

.contact-container .time-div {
  margin-top: 20px;
  margin-left: 5px;
  line-height: 20px;
}

/* .rainbow3{
  position: absolute;
  width: 1000px;
  height: auto;
  top: 370%;
  right: -30%;
  z-index: -4;
  opacity: 0.8;
} */



@media only screen and (max-width: 1200px) {
  .general-heading {
    margin-bottom: -12px;
  }

  .contact-header {
    font-size: 2.9rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 992px) {
  .general-heading {
    margin-bottom: -15px;
  }

  .contact-header {
    font-size: 2.4rem;
    font-weight: 500;
  }
  .contacts {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .contact-container {
    align-items: center;
    text-align: center;
  }
  .general-heading {
    margin-bottom: -10px;
    font-size: 1rem;
  }

  .contact-header {
    font-size: 2rem;
    font-weight: 500;
  }
.contacts{
    align-items: center;
}
  .contact {
    font-size: 1rem;
  }
  .contact-container .time {
    font-size: 1rem;
  }
  .contact-container .local-time {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
}
