html {
  height:100%;
  }

body{
  background-color: var(--clr-black);
  /* background-image: linear-gradient(#0f302a,var(--clr-black));
  background-size: cover;
  background-attachment: fixed; */
  margin: auto;
  overflow-x: hidden;

}

::-webkit-scrollbar{
  width: 10px;
  background-color: var(--clr-black);
}

::-webkit-scrollbar-thumb{
border-radius: 30px;
height: 20px;
background-color: var(--clr-gray);
}


.rainbow{
  position: absolute;
  width: 1000px;
  height: auto;
  top: 40%;
  left: -30%;
  z-index: -4;
  opacity: 0.8;
}

